appnope==0.1.0
autopep8==1.3.5
backcall==0.1.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
dlib==19.13.1
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.3
MarkupSafe==1.0
matplotlib==2.2.2
Numberjack==1.2.0
numpy==1.14.5
ordered-set==3.0.0
parso==0.3.0
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycodestyle==2.4.0
pyecore==0.8.5
-e git+https://github.com/pyecore/pyecoregen.git@8c7a792f46d7d94e5d13e00e2967dd237351a4cf#egg=pyecoregen
Pygments==2.2.0
pymultigen==0.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
-e git+https://github.com/pyecore/pyuml2.git@2a071bb09e622c4121db9447b8ac9f607431051f#egg=pyuml2
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
